{% extends 'base.html' %}
{% block title %}
All Tickets
{% endblock title %}
{% block content %}
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning d-flex align-items-center message" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{message}}
            </div>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center message" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                {{message}}
            </div>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center message" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                {{message}}
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% include 'ticket/ticketsearch.html' %}

<div class="row mt-5" style="overflow-x:auto; ">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'all_tickets'%}">All</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'open_tickets'%}">Open</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="{% url 'resolved_tickets'%}">Resolved</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'reopen_tickets'%}">Reopened</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'close_tickets'%}">Closed</a>
          </li>
    </ul>
    {% include 'ticket/tickettable.html' %}
    {% include "ticket/paginator.html" with page=tickets %}
</div>

{% endblock content %}