{% extends 'base.html' %}
{% block title  %}
    Login
{% endblock title %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning d-flex align-items-center message" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{message}}
            </div>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center message" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                {{message}}
            </div>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center message" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                {{message}}
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
    <h1>Log-in</h1>
    <div class="row mt-2">
        <div class="col-6 mt-2">
            <form action="" method="post" class="update_form">
                <label for="username">Username</label>
                <input type="text" name="username" >
                <br>
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" >
                <br>
                <br>
                
                {% csrf_token %}
                <button type="submit" class="btn btn-success mt-2">Login</button>
            </form>
            <br>
            <br>
            <p>
                Forgot password?<a href="{% url 'password_reset'%}"> Click Here</a>
            </p>
        
        </div>
    </div>
{% endblock content %}