{% extends 'base.html' %}
{% block title %}
    Register user
{% endblock title%}
{% block content%}
<br>
    <h1>Create account </h1>
    <p>Please, signup using the following form:</p>
    <div class="row">
        <div class="col-6">
            <form action="" method="POST" class="update_form">
                {{user_form.as_p}}
                <button type="submit" class="btn btn-outline-primary"> Create my account </button>
                <a href="{% url 'index'%} " class="btn btn-outline-danger"> Back</a>
                {%csrf_token%}
            </form>
        </div>
    </div>
{% endblock content%}